body {
    background: #fff;
	height: 100%;
	margin: 0px;
}

div#map {
	height: 100% !important;
	bottom: 0px;
	position: absolute;
	overflow: hidden;
}

#destroyButton {
	position: fixed;
	right: 10px;
	top: 10px;
}

#loadButton {
	position: fixed;
	left: 10px;
	top: 10px;
}
